doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style(type="text/css").
            body {
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .box {
                background-color: rgb(0, 97, 97);
                padding: 10px;
                margin: 5px;
                border-radius: 5px;
                border: 1px solid white;
                color: white:
            }

            .box a {
                margin: 1rem;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 2px;
                border: 1px solid white;
                background-color: blue;
                color: white;
            }
        
    body 
        .box 
            h1=`WELCOME ${name}`
            p welcome to our family. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam quia perspiciatis assumenda cum? Maiores aut nulla obcaecati molestias nesciunt laborum.
            a(href=`${url}`) click me

