doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Error
        link(rel="stylesheet", href="/./style.css")
    body 
        .error-page 
            .logo roop residency 
                span the luxury hotel 
            img.error-img(src="/./image/404.png", alt="error page")
            .h2 page not found
            a(href="/")
                .btn go to home 