
footer.footer 
    .footer-container
        .footer-box(style="flex:2 1 300px")
            h2 About Hotel 
            p At Hotel The Moon, we strive to create a serene and welcoming atmosphere for all our guests. Whether you’re here for a short stay or an extended visit, we promise to make your time with us truly special.
        .footer-box 
            h2 Explore
            ul.example 
                li: a(href="/" ) Home
                li: a(href="/about" ) About
                li: a(href="/rooms" ) Rooms & Suites
                li: a(href="/restaurant" ) Restaurant
                li: a(href="/place" ) Places
                li: a(href="/events" ) Events
                li: a(href="/#contact" ) Contact
        .footer-box 
            h2 Contact
            p Infront of Gandhi Stedium, near Nalini Chowk, Sonepur, 767017
            .call 
                span.material-symbols-outlined phone_in_talk 
                .call-num 7077388849
            a.roop-email(href="#") info@hotelthemoon.com
.copywrite © Copyright 2024 by Debashish Meher