extend base

block content
    .page-heading.events-page-heading
        h3.page-name about us 
        .page-links 
            a(href="/") home |
            a(href="#") about
    .about-container 
        section.introduction 
            .intro-left 
                img.intro-img(src="/./image/bulding.jpg", alt="")
                .img-shadow
                .intro-logo.align-center
                    img(src="/./image/logo.png", alt="")
            .intro-right
                h2.heading-h1 introduction 
                p.para Welcome to  Hotel The Moon, your ultimate destination for luxury and comfort in the heart of Kantamal. Our hotel offers a serene escape with elegantly designed rooms, modern amenities, and exceptional service. Whether you’re here for business or leisure, we ensure a memorable stay with 24-hour power backup, complimentary high-speed WiFi, 24/7 hot and cold water, doctor-on-call service, and convenient lift access. Experience unparalleled hospitality and tranquility at  Hotel The Moon, where your comfort is our priority.
                p.para Our commitment to excellence extends beyond our accommodations. Hotel The Moon features a range of top-notch facilities, including a state-of-the-art fitness center, a serene spa, and a stunning rooftop pool with panoramic views of the city. Our on-site restaurant offers a diverse menu of gourmet dishes, prepared with the freshest ingredients by our talented chefs.
                p.para At Hotel The Moon, we strive to create a serene and welcoming atmosphere for all our guests. Whether you’re here for a short stay or an extended visit, we promise to make your time with us truly special.
        section.mission 
            .mission-box 
                h2.heading-h1 mission
                p.para.mission-para At  Hotel The Moon, our mission is to provide an exceptional hospitality experience that combines luxury, comfort, and personalized service. We are dedicated to creating a welcoming and serene environment where every guest feels valued and cared for. Our commitment to excellence drives us to continuously improve our services and facilities, ensuring that each stay is memorable and exceeds expectations. We strive to be the preferred choice for travelers seeking a unique blend of tranquility and top-notch amenities, making every visit to  Hotel The Moon a delightful and unforgettable experience.
        .owner-sec 
            section.owner 
                .owner-left 
                    span.heighlite the moon luxury hotel
                    h2.heading-h1 gopal chandra negi
                    p.para  Hotel The Moon is proudly owned and managed by Gopal Chandra Negi, a visionary in the hospitality industry. With a passion for excellence and a keen eye for detail, Mr. Negi has dedicated himself to creating a hotel that offers unparalleled comfort and luxury. His commitment to providing exceptional service and a memorable experience for every guest is evident in every aspect of  Hotel The Moon
                .owner-right 
                    img(src="/./image/demo-bulding.jpg", alt="")