doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hotel The Moon
        link(rel="stylesheet", href="/common.css")
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="/responsive.css")
        link(rel="shortcut icon", href="/./image/logo.png", type="image/x-icon")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
    body 
        //- #loading 
        //-     .loader 
        //- header
        include _header

        //- content
        block content

        //- footer
        include _footer
        
        script(src="https://checkout.razorpay.com/v1/checkout.js") 
        script(src="/./js/frontend.js") 
        script(src="/./main.js")
