extend base

block content
    .events-page
        .page-heading.events-page-heading
            h3.page-name events
            .page-links 
                a(href="/") home |
                a(href="#") services
        .events-container 
            .events-items 
                .events-video 
                    .video
                        <iframe class="video"  src="https://www.youtube.com/embed/8P10vIH-Zeg?si=rhhpyzUPvLu2PJbD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
                    p.name video title 
                    p.para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, minus dolores sunt beatae tempora Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .events-desc 
                    h1.heading-h1 events 1
                    p Led by Chef de Micheal Martin, The Restaurant is celebrated for its excellent cuisine and unique ambience. The gorgeous dining room features three open studio kitchens, allowing you to enjoy the sights and sounds of the culinary artistry on display. The menu showcases both Asian and European influences, with a tempting selection of classic
                    .sevents-photos 
                        img.photo-item.item1(src="/./image/image4-min.jpg", alt="")
                        img.photo-item.item2(src="/./image/image3-min.jpg", alt="")
                        img.photo-item.item3(src="/./image/image5-min.jpg", alt="")


            .events-items 
                .events-video 
                    .video 
                         <iframe class="video"  src="https://www.youtube.com/embed/8P10vIH-Zeg?si=rhhpyzUPvLu2PJbD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
                    p.name video title 
                    p.para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, minus dolores sunt beatae tempora Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .events-desc 
                    h1.heading-h1 events 2
                    p Led by Chef de Micheal Martin, The Restaurant is celebrated for its excellent cuisine and unique ambience. The gorgeous dining room features three open studio kitchens, allowing you to enjoy the sights and sounds of the culinary artistry on display. The menu showcases both Asian and European influences, with a tempting selection of classic
                    .sevents-photos 
                        img.photo-item.item1(src="/./image/image4-min.jpg", alt="")
                        img.photo-item.item2(src="/./image/image3-min.jpg", alt="")
                        img.photo-item.item3(src="/./image/image5-min.jpg", alt="")


            .events-items 
                .events-video 
                    .video 
                         <iframe class="video"  src="https://www.youtube.com/embed/8P10vIH-Zeg?si=rhhpyzUPvLu2PJbD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
                    p.name video title 
                    p.para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, minus dolores sunt beatae tempora Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .events-desc 
                    h1.heading-h1 events 3
                    p Led by Chef de Micheal Martin, The Restaurant is celebrated for its excellent cuisine and unique ambience. The gorgeous dining room features three open studio kitchens, allowing you to enjoy the sights and sounds of the culinary artistry on display. The menu showcases both Asian and European influences, with a tempting selection of classic
                    .sevents-photos 
                        img.photo-item.item1(src="/./image/image4-min.jpg", alt="")
                        img.photo-item.item2(src="/./image/image3-min.jpg", alt="")
                        img.photo-item.item3(src="/./image/image5-min.jpg", alt="")

            .events-items 
                .events-video 
                    .video 
                         <iframe class="video"  src="https://www.youtube.com/embed/8P10vIH-Zeg?si=rhhpyzUPvLu2PJbD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
                    p.name video title 
                    p.para Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, minus dolores sunt beatae tempora Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .events-desc 
                    h1.heading-h1 events 4
                    p Led by Chef de Micheal Martin, The Restaurant is celebrated for its excellent cuisine and unique ambience. The gorgeous dining room features three open studio kitchens, allowing you to enjoy the sights and sounds of the culinary artistry on display. The menu showcases both Asian and European influences, with a tempting selection of classic
                    .sevents-photos  
                        img.photo-item.item1(src="/./image/image4-min.jpg", alt="")
                        img.photo-item.item2(src="/./image/image3-min.jpg", alt="")
                        img.photo-item.item3(src="/./image/image5-min.jpg", alt="")


