doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title roop residency 
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
    body 
        #loading 
            .loader 

        .forgot-page 
            .logo.forgot-head roop residency
                span the luxury hotel
            .forgot-form#forgot-form 
                h2 forgot 
                form#forgot(action="/forgot" method="post" contentType= "multipart/form-data")
                    .input-box 
                        label(for="email")  email
                        span.material-symbols-outlined.icon mail  
                        input#forgotEmail(type="text", name="forgot-email")         
                    button.btn(type="submit") getting   
                    .forgot-other
                        p I have an account?
                        a(href="/login") login
            
        script(src="/./js/frontend.js") 
        script(src="/./main.js")
