extend base

block content
    .home
        .main
            .main_content 
                p best luxury hotel and best restaurant
                h1 enjoy a luxury experience
                a(href="/rooms")
                    button.btn room & suites

            .find_booking 
                form.form(action="#") 
                    .input-box 
                        input#check-in(type="text" name="check-in" placeholder="check in" onfocus="this.type='date'" onblur="this.type='text'")
                    .input-box 
                        input#check-out(type="text" name="check-out" placeholder="check out" onfocus="this.type='date'" onblur="this.type='text'")
                    .input-select.adults 
                        select#adults(name="adults") 
                            option(value="adults") adults
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                    .input-select.children
                        select#children(name="children") 
                            option(value="children") children
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                    .input-select.rooms
                        select#room(name="room") 
                            option(value="rooms") rooms 
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                    button.btn(type="submit") search


    section.about-hotel#about 
        .about-main 
            span.heighlite the moon luxury hotel
            h1.heading-h1 enjoy a luxury experience 
            p At Hotel The Moon, we believe in offering an unparalleled experience that combines luxury, comfort, and exceptional service. Nestled in the heart of Sonepur, our hotel provides a serene escape from the hustle and bustle of everyday life. Our elegantly designed rooms, equipped with modern amenities, ensure a relaxing stay for both business and leisure travelers. 
            p Our dedicated staff is committed to making your stay memorable, with personalized services tailored to your needs. Whether you’re here for a weekend getaway or an extended stay, Hotel The Moon promises a unique and unforgettable experience. Choose us for a perfect blend of hospitality and tranquility.
            .contact-num 
                span.material-symbols-outlined.call-icon phone_in_talk 
                .cont-child 
                    div Reservation 
                    .num 7077388849
        .about-img 
            .img-box.img-down#about-img-1 
                img(src="/./image/home1.jpg", alt="alt")        
            .img-box.img-up#about-img-2 
                img(src="/./image/home2.jpg", alt="alt")   
    .room-section#room-section 
        span.heighlite the moon luxury hotel 
        h1.heading-h1 Rooms & Suites 
        .room-parent 
            .room.room1 
                .room-info 
                    p ₹1200/night 
                    h2 Delux AC 
                    hr
                    .room-facilities 
                        .facilities-icons 
                            span.material-symbols-outlined mode_fan
                            span.material-symbols-outlined router
                            span.material-symbols-outlined restaurant
                        a(href="/rooms") details
            .room.room2 
                .room-info 
                    p ₹800/night 
                    h2 Delux non-AC
                    hr
                    .room-facilities 
                        .facilities-icons 
                            span.material-symbols-outlined mode_fan
                            span.material-symbols-outlined router
                            span.material-symbols-outlined restaurant
                        a(href="#") details
            .room.room3 
                .room-info 
                    p ₹1100/night 
                    h2 Standard Delux
                    hr
                    .room-facilities 
                        .facilities-icons 
                            span.material-symbols-outlined mode_fan
                            span.material-symbols-outlined router
                            span.material-symbols-outlined restaurant
                        a(href="#") details
    .resturent#resturent 
        .restro-main 
            .restro-info 
                span.heighlite AN EXPERIENCE FOR THE SENSES 
                h1.heading-h1 The Restaurant 
                p At Hotel The Moon Restaurant, we offer a culinary experience like no other. Our menu is crafted with the finest ingredients, blending traditional flavors with modern techniques to create dishes that delight the senses. Located in the tranquil surroundings of Sonepur, our restaurant provides a perfect setting for any occasion, whether it’s a romantic dinner, a family gathering, or a business lunch. 
                h2 Hours 
                ul.restro-time 
                    li Breakfast: 7.00 am – 11.00 am (daily)
                    li Lunch: 12.00 noon – 5.30 pm (daily)
                    li Dinner: open from 5.30 pm, last order at 10.30 pm (daily)
            .restro-img 
        .restro-menu 
            span.heighlite LUXURY HOTEL
            h1.heading-h1 Restaurant Menu
            ul.menu-nav 
                li breakfast
                li starter
                li main
                li dessert
            .menu-item-container 
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
                .menu-item 
                    .item-name 
                        h3 Mozzarella Dippers
                        p Fried mozzarella sticks, marinara sauce
                    span $20
    section.sticky-background 
        .sticky-img 
        .sticky-container 
            section.service#service 
                span.heighlite our service
                h1.heading-h1 Hotel Facilities 
                .serviice-container 
                    .service-box 
                        span.material-symbols-outlined local_taxi
                        h3 Pick Up & Drop 
                        p We’ll pick up from bus stop or railway station while you comfy on your ride, mus nellentesque habitant.
                    .service-box 
                        span.material-symbols-outlined bolt
                        h3 Power Backup
                        p we ensure your comfort with 24-hour power backup, so you never have to worry about interruptions.
                    .service-box 
                        span.material-symbols-outlined wifi
                        h3 Free wi-fi
                        p  Stay connected with our complimentary high-speed WiFi available throughout the hotel.
                    .service-box 
                        span.material-symbols-outlined water_full
                        h3 Hot & Cold water
                        p Enjoy the convenience of 24/7 hot and cold water in all our rooms.
                    .service-box 
                        span.material-symbols-outlined ecg_heart
                        h3 Call on Doctor
                        p We offer a doctor-on-call service to ensure you receive prompt medical attention whenever needed.
                    .service-box 
                        span.material-symbols-outlined escalator
                        h3 Lift Service
                        p we provide lift service to ensure easy and convenient access to all floors.
            .subscribe 
                .subscribe-box 
                    h1.heighlite Subscribe
                    p Subscribe our newsletter to stay updated every moment
                    form#getUpdate(action="/email" method="post" content-type="multipart/form-data") 
                        input(type="email" name="subEmail" id="updatedEmail" placeholder="Enter a valid email address")
                        button.btn(type="submit") Submit 
            section.contact#contact 
                .contact-info 
                    span.heighlite Contact us 
                    h2 Each of our guest rooms feature a private bath, wi-fi, cable television.
                    .call 
                        span.material-symbols-outlined phone_in_talk 
                        .call-num 7077388849
                    .call 
                        span.material-symbols-outlined phone_in_talk 
                        .call-num 7077388858
                .contact-form 
                    span.heighlite ROOMS & SUITES
                    h2 Hotel Booking Form 
                    .find_booking 
                        form.form(action="#") 
                            .input-box 
                                input#check-in(type="text" name="check-in" placeholder="check in" onfocus="this.type='date'" onblur="this.type='text'")
                            .input-box 
                                input#check-out(type="text" name="check-out" placeholder="check out" onfocus="this.type='date'" onblur="this.type='text'")
                            .input-select.adults 
                                select#adults(name="adults") 
                                    option(value="adults") adults
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                            .input-select.children
                                select#children(name="children") 
                                    option(value="children") children
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                            .input-select.rooms
                                select#room(name="room") 
                                    option(value="rooms") rooms 
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                            button.btn(type="submit") search
    .map 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.759767273003!2d83.90719257525149!3d20.841405180761516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a23e76cb403425f%3A0xf946505aa71164f2!2sHotel%20The%20Moon!5e0!3m2!1sen!2sin!4v1725459942732!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>