doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title roop residency 
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
    body 
        #loading 
            .loader 

        .forgot-page 
            .logo.forgot-head roop residency
                span the luxury hotel
            .forgot-form#forgot-form 
                h2 reset password 
                form#passwordReset
                    .input-box 
                        label(for="newpassword")  new password
                        span.material-symbols-outlined.icon password  
                        input#newpassword(type="password", name="newpassword")         
                    .input-box 
                        label(for="newconfirmpassword")  confirm password
                        span.material-symbols-outlined.icon password  
                        input#newconfirmpassword(type="password", name="newconfirmpassword")         
                    button.btn(type="submit") reset   
                    .forgot-other
                        p I have an account?
                        a(href="/login") login
            
        script(src="/./js/frontend.js") 
        script(src="/./main.js")
