extend base 

block content 
    .events-page
        .page-heading.events-page-heading
            h3.page-name place to explore
            .page-links 
                a(href="/") home |
                a(href="#") place
    .place-page
        .place-box 
            .place-img
                img(src="/./image/place/sureswari.png" alt="")
            .place-info 
                h1.heading-h1 sureswari temple
                p Sureswari temple or Sursuri temple is located at the left bank of Tel River towards the south-west of the confluence of Mahanadi and Tel River. This temple is located in the temple town of Sonepur, Subarnapur district, Odisha, India. The presiding deity is maa Sursuri, and it is well known as one of the oldest Shakti shrine. In western part of odisha maximum people devote of Maa sursuri The word Sureswari is the sanskritised version of Sursuri.
                ul 
                    li Sureswari temple is located about 500m. from our hotel
                    li  It is a significant religious site 
                    li  This connection to the Jagannath culture.
    .place-page
        .place-box 
            .place-img
                img(src="/./image/place/patali.png" alt="")
            .place-info 
                h1.heading-h1 Patali Srikhetra
                p Patali Srikhetra is a famous place with significant historical importance for Subarnapur district and   . This religious place is associated with Shaktism, Buddhism and Vaishnavism. It is located in the foot of Trikut Hill at Kotsamalai of the Birmaharajpur subdivision of Subarnapur district,   . It is widely believed that the idol of Lord Jagannath, Balabhadra and Devi Subhadra were kept hiding in the caves of the Trikut for a period of 144 years.
                ul 
                    li Patali Srikhetra is located about 20 km from our hotel
                    li  It is a significant religious site 
                    li  This connection to the Jagannath culture.
        .place-box 
            .place-img
                img(src="/./image/place/thenga.png" alt="")
            .place-info 
                h1.heading-h1 Thengo Dam
                p Thengo Dam, located in the Birmaharajpur block of Sonepur district,  , is a popular picnic spot known for its natural beauty and serene environment1. Situated about 34 km from Sonepur, this medium irrigation project was built to conserve water and has become a favorite destination for locals and tourists alike1.
                ul 
                    li Thenga Dam is located about 34 km from our hotel
                    li It’s a popular picnic spot.
                    li Best time to visit is winter.
        .place-box 
            .place-img
                img(src="/./image/place/charisambhu.png" alt="")
            .place-info 
                h1.heading-h1 Charisambhu Temple
                p The Charisambhu Temple, also known as the Gandharadi Temple, is a significant religious site located in the Boudh district of  , near the village of Gandharadi12. This temple complex is unique as it houses twin temples dedicated to Lord Vishnu (Nilamadhava) and Lord Shiva (Sidheswar), making it a center for both Vaishnavism and Shaivism2.
                ul 
                    li Charisambhu Temple is located about 38 km from our hotel.
                    li  It is a significant religious site.
                    li  The statue of Madhab on the top of the Nilamadhab temple
        .place-box 
            .place-img
                img(src="/./image/place/metakani.png" alt="")
            .place-info 
                h1.heading-h1 metakani temple
                p The Maa Metakani Temple is a revered Hindu temple located in Ulunda, about 23 km from Sonepur in the Subarnapur district. This temple is dedicated to Maa Metakani, an incarnation of Maa Sureshwari, and is surrounded by scenic forests, making it a serene and spiritual destination1.
                ul 
                    li Maa Metakani Temple is located about 23 km from our hotel.
                    li It is a significant religious site.
                    li A unique aspect of the temple is its origin story of Maa Metakani
        .place-box 
            .place-img
                img(src="/./image/place/rameswar.png" alt="")
            .place-info 
                h1.heading-h1 Rameswar Temple
                p The Rameswar Temple in Sonepur,  , is a significant religious site located at the confluence of the Mahanadi and Tel rivers, about 3 km from Sonepur town12. This beautiful Saiva Pitha is dedicated to Lord Shiva and is known for its architectural resemblance to the Lingaraj Temple in Bhubaneswar1.
                ul 
                    li The Rameswar Temple is located about 1 km from our hotel.
                    li  It is a significant religious site 
                    li  It is architectural resemblance to the Lingaraj Temple in Bhubaneswar.
        