extends base

block content 
    .room-container 
        .room-home-img
            .btn-updown 
                a(href="#room-info").material-symbols-outlined.updown-icon south
        .room-info-container#room-info 
            span.heighlite luxury hotel
            h1.heading-h1 Deluxe room
            .room-info-main 
                .room-left-info
                    p Our 7 Executive rooms are located on the 1st floor and cover an area of 325 sq.ft with comfort and amenities. With exquisite ambiance and diversion-free environment accompanied with serene views from the room window. It is embedded with one Double bed,one sofa,a work desk,two chairs and a smart TV.
                    
            h1.heading-h1 Deluxe AC room
            .room-info-main 
                .room-left-info
                    p Our 20 Executive rooms are located on the 1st floor and cover an area of 325 sq.ft with comfort and amenities. With exquisite ambiance and diversion-free environment accompanied with serene views from the room window. It is embedded with one Double bed,one sofa,a work desk,two chairs and a smart TV.

                    .checkin-checkout 
                        .checkin 
                            h2 Check-in
                            p 
                                span.material-symbols-outlined.tick-icon done
                                span Check-in from  anytime
                            p 
                                span.material-symbols-outlined.tick-icon done
                                span Early check-in subject to availability
                        .checkin 
                            h2 Check-out
                            p 
                                span.material-symbols-outlined.tick-icon done
                                span Check-out anytime
 
                    .room-special-info 
                        h2 Special check-in instructions
                        p Guests will receive an email 5 days before arrival with check-in instructions; front desk staff will greet guests on arrival For more details, please contact the property using the information on the booking confirmation.
                    .room-special-info 
                        h2 Children and extra beds
                        p Children are welcome Kids stay free! Children stay free when using existing bedding; children may not be eligible for complimentary breakfast Rollaway/extra beds are available for $ 10 per day.
                    a(href="/roomBooking/booking") 
                        button.btn.room-booking-btn book now
                .room-right-info
                    h2 Amenities
                    ul 
                        li 
                            span.material-symbols-outlined.tick-icon groups
                            span  1-2 Persons
                        li 
                            span.material-symbols-outlined.tick-icon wifi
                            span  Free Wifi
                        li 
                            span.material-symbols-outlined.tick-icon lunch_dining
                            span  Breakfast
                        li 
                            span.material-symbols-outlined.tick-icon dry_cleaning
                            span  Towel
                        li 
                            span.material-symbols-outlined.tick-icon tv
                            span  Flat T.V
                        li 
                            span.material-symbols-outlined.tick-icon tv
                            span  Geyser
                        
                        li 
                            span.material-symbols-outlined.tick-icon security
                            span  24/7 security
                        
                        li 
                            span.material-symbols-outlined.tick-icon bolt
                            span  power backup

        .room-section#room-section 
            span.heighlite luxury hotel 
            h1.heading-h1 Rooms & Suites 
            .room-parent 
                .room.room1 
                    .room-info 
                        p ₹1200 +GST(extra)/night 
                        h2 Deluxe Ac Room
                        hr
                        .room-facilities 
                            .facilities-icons 
                                span.material-symbols-outlined mode_fan
                                span.material-symbols-outlined router
                                span.material-symbols-outlined restaurant
                            a(href="#") details
                .room.room2 
                    .room-info 
                        p ₹1100 +GST(extra)/night 
                        h2 Deluxe Non-Ac Room
                        hr
                        .room-facilities 
                            .facilities-icons 
                                span.material-symbols-outlined mode_fan
                                span.material-symbols-outlined router
                                span.material-symbols-outlined restaurant
                            a(href="#") details
                //- .room.room3 
                //-     .room-info 
                //-         p $49/night 
                //-         h2 Junior suite 
                //-         hr
                //-         .room-facilities 
                //-             .facilities-icons 
                //-                 span.material-symbols-outlined mode_fan
                //-                 span.material-symbols-outlined router
                //-                 span.material-symbols-outlined restaurant
                //-             a(href="#") details
